#######################################
# Configuration file for dropboxhandler
#######################################

# sections 'incoming', 'outgoing', 'openbis' and 'options' are mandatory.  All
# input and output directories must be on the same file system. Absolute paths
# only.

options:
    permissions: true
    checksum: true
    interval: 30
    pidfile: /path/to/pidfile
    umask: 0077  # umask for all output files

incoming:
    - path: /path/to/dropbox1
      name: dropbox1
      perms:
          user: user1
          group: group1
          filemode: 0660  # leading 0 for octal
          dirmode: 0770
    - path: /path/to/dropbox2
      name: dropbox2
      perms:
          filemode: 0660  # leading 0 for octal
          dirmode: 0770

outgoing:
    manual: /path/to/manual/dest
    storage: /path/to/storage
    tmpdir: /path/to/tmpdir
    #msconvert: /path/to/win/share

# filenames are cleaned before they are matched against the regexps.
# They are alphanumeric and start with a barcode. Extensions are
# lower case. If more than one regexp matches a filename, only the
# first match is used.
#
# Backslashes must be escapted.
openbis:
   - regexp: "^\\w*.raw$"
     path: /path/to/raw/dropbox
   - regexp: "^\\w*.fastq$"
     path: /path/to/fastq/dropbox

# See https://docs.python.org/2/library/logging.config.html
logging:
    version: 1,
    root:
        level: NOTSET
        handlers: ['file', 'smtp']
    handlers:
        file:
            class: logging.handlers.RotatingFileHandler
            level: INFO
            formatter: detailed
            filename: dropboxhandler.log
            mode: a
            maxBytes: 10485760
            backupCount: 5
        smtp:
            class: logging.handlers.SMTPHandler
            level: ERROR
            formatter: email
            mailhost: localhost
            fromaddr: an@email.address.de
            toaddrs:
                - admin@me.com
                - support@me.com
            subject: '[dropboxhandler] Error encountered.'
    formatters:
        detailed:
            format: '%(asctime)s %(module)-17s line:%(lineno)-4d (levelname)-8s %(message)s'
        email:
            format: 'Timestamp: %(asctime)s\nModule: %(module)s\n Line: %(lineno)d\nMessage: %(message)s'
